html,
body {
  padding: 0px;
  margin: 0px;
  font-family: 'Source Sans Pro', sans-serif;
  background: transparent;
  padding-bottom: 50px;
  height: 100%;
  overflow: hidden; }

ul {
  list-style-type: none;
  padding: 0px;
  margin: 0px; }

h1,
h2 {
  display: block;
  background: #fff;
  padding: 10px;
  margin: 0px;
  font-size: 16px; }

.frame {
  position: absolute;
  background: #fff;
  width: auto;
  height: auto;
  border-radius: 5px;
  box-shadow: 0px 0px 15px #555;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  padding: 30px 15px 15px 15px; }

.frame-top {
  position: absolute;
  left: 0px;
  right: 0px;
  top: 0px;
  width: 100%;
  height: 30px;
  -webkit-user-select: none;
  -webkit-app-region: drag;
  background: #eee;
  border-radius: 5px 5px 0px 0px; }
  .frame-top .actions {
    position: absolute;
    top: 2px;
    left: 7px; }
    .frame-top .actions button {
      display: inline-block;
      width: 10px;
      height: 12px;
      border-radius: 20px;
      -webkit-appearance: none;
      border: 0px;
      outline: 0px; }
    .frame-top .actions .close {
      background: #ff5f57;
      margin-right: 3px; }
    .frame-top .actions .minimize {
      background: #ffbd2e; }
  .frame-top h1 {
    font-size: 11px;
    color: #999;
    padding: 8px 0px 0px 0px;
    margin: 0px;
    width: 100%;
    text-align: center;
    background: none; }

.main-nav {
  width: 100%;
  height: 60px;
  background: #fff; }
  .main-nav ul {
    display: block;
    list-style-type: none;
    padding: 0px;
    margin: 0px; }
  .main-nav li {
    width: 50%;
    float: left; }
  .main-nav a {
    display: block;
    color: #888;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 60px;
    transition: background .1s ease-in-out;
    border-bottom: 1px solid #eee; }
    .main-nav a:hover, .main-nav a.active {
      border-bottom: 1px solid #1D83CE;
      color: #1D83CE; }
    .main-nav a span {
      padding: 1px 8px 1px 8px;
      background: #ddd;
      color: #888;
      border-radius: 10px;
      margin-left: 5px; }

.footer {
  display: block;
  width: auto;
  height: 40px;
  position: fixed;
  left: 20px;
  right: 20px;
  bottom: 20px; }

a.add-plugin {
  display: block;
  width: 100%;
  padding: 20px;
  background: #62AE47;
  color: #fff;
  font-size: 12px;
  text-decoration: none;
  position: fixed;
  bottom: 0px; }

a.remove {
  color: #ce3636;
  font-size: 12px;
  border: 2px solid #ce3636;
  padding: 3px;
  border-radius: 3px;
  text-decoration: none;
  float: right;
  text-transform: uppercase;
  transition: all .1s ease-in-out; }
  a.remove:hover {
    box-shadow: 0px 1px 2px #ccc; }

#plugins {
  padding: 0px;
  margin: 0px; }
  #plugins li {
    background: #fff;
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    padding: 10px;
    border-bottom: 1px solid #ddd;
    color: #000;
    font-size: 14px; }

#project-plugins {
  background: #fff; }
  #project-plugins li {
    padding: 10px;
    border-bottom: 1px solid #ddd; }
  #project-plugins input[type="checkbox"] {
    float: right; }

a.add-project {
  display: inline-block;
  width: auto;
  padding: 10px 20px 10px 20px;
  background: #eee;
  color: #888;
  font-size: 12px;
  text-decoration: none;
  transition: background .2s ease-in-out;
  border-radius: 50px;
  margin-left: 5px; }
  a.add-project:hover {
    background: #ddd; }

#projects {
  padding: 0px;
  margin: 0px; }
  #projects li {
    position: relative;
    height: 20px;
    background: #fff;
    list-style-type: none;
    margin: 0px;
    padding: 10px;
    border-bottom: 1px solid #ddd;
    color: #555;
    transition: background .2s ease-in-out; }
    #projects li:hover {
      background: #f2f2f2;
      color: #1D83CE; }
  #projects a.edit {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    color: #555;
    text-decoration: none;
    outline: 0px;
    padding: 9px 0px 0px 10px; }
  #projects .plugins-count {
    display: block;
    float: right;
    width: 20px;
    height: 20px;
    background: #1D83CE;
    color: #fff;
    border-radius: 20px;
    font-size: 10px;
    text-align: center;
    line-height: 20px;
    margin-right: 10px; }

.title-name {
  color: #356D7E;
  font-style: italic; }

#project label {
  display: inline-block;
  padding: 5px;
  text-transform: uppercase;
  background: #eee;
  color: #888;
  border-radius: 5px;
  font-size: 12px;
  margin-right: 5px; }
#project .input {
  width: 100%;
  display: block;
  outline: 0px;
  border: none;
  border-bottom: 1px solid #ddd;
  padding: 10px;
  background: #fff;
  font-size: 14px; }
#project input[type="text"] {
  background: #fff;
  border: 0px;
  outline: 0px;
  font-size: 12px; }
#project input[type="submit"] {
  padding: 10px;
  display: inline-block;
  background: #ACCE44;
  color: #fff;
  border: 0px;
  text-align: left;
  font-size: 14px;
  cursor: pointer;
  border-radius: 5px;
  margin: 10px; }
#project .delete-project {
  padding: 10px;
  display: inline-block;
  background: #ddd;
  color: #888;
  border: 0px;
  text-align: left;
  font-size: 14px;
  cursor: pointer;
  border-radius: 5px;
  margin: 10px 10px 10px 0px; }

#tutorial {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 100000;
  background: #eee;
  background: url("../graphics/bg.png");
  background-size: contain;
  overflow: hidden; }

#tutorial-slide {
  width: 100%;
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  font-family: 'Lato';
  font-weight: 100; }
  #tutorial-slide .owl-wrapper-outer,
  #tutorial-slide .owl-wrapper {
    height: 100%; }
  #tutorial-slide .owl-item {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%); }
  #tutorial-slide .step {
    width: 100%;
    text-align: center; }
    #tutorial-slide .step .num {
      display: block;
      width: 70px;
      height: 70px;
      border-radius: 70px;
      border: 2px solid #fda1fe;
      margin: 0 auto;
      text-align: center;
      color: #fff;
      line-height: 65px;
      font-size: 30px;
      opacity: 0.8; }
    #tutorial-slide .step .continue {
      display: block;
      width: 150px;
      height: 40px;
      border: 1px solid #a498f9;
      border-radius: 20px;
      margin: 0 auto;
      margin-top: 30px;
      margin-bottom: 10px;
      color: #fff;
      line-height: 38px;
      cursor: pointer;
      transition: all .2s ease-in-out; }
      #tutorial-slide .step .continue:hover {
        background: #fff;
        color: #9b47a8;
        border: 1px solid transparent; }
      #tutorial-slide .step .continue.finish:hover {
        background: #3bb41d;
        color: #fff; }
  #tutorial-slide h1,
  #tutorial-slide h2 {
    background: none;
    font-size: 30px;
    color: #fff;
    font-weight: 100; }
  #tutorial-slide p {
    color: #fff;
    padding: 0px 50px 0px 50px;
    line-height: 25px; }
  #tutorial-slide .skip {
    color: #fff;
    font-size: 14px;
    text-decoration: none; }

.step.home {
  text-align: center; }
  .step.home .get-started {
    width: 150px;
    height: 40px;
    border: 2px solid #fff;
    border-radius: 20px;
    margin: 0 auto;
    margin-top: 50px;
    color: #fff;
    line-height: 35px;
    cursor: pointer; }

.step.second .upload-area,
.step.third .upload-area {
  width: 105px;
  height: 108px;
  background: url("../graphics/upload-area.svg") no-repeat;
  margin: 0 auto; }
  .step.second .upload-area .status,
  .step.third .upload-area .status {
    display: block;
    width: 30px;
    height: 38px;
    background: url("../graphics/upload-status.svg") bottom right no-repeat;
    margin: 0 auto;
    padding-top: 30px;
    padding-right: 7px; }
  .step.second .upload-area.active .status,
  .step.third .upload-area.active .status {
    background: green; }

.lurch-success {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  bottom: 0px;
  background: url("../graphics/lurch.gif") center center;
  background-size: cover;
  opacity: 0.1; }
  .lurch-success.on {
    display: block; }
