// Navigation between settings and plugins
#project,
#project-plugins {

  &.show {
    display: block;
  }
}

.project-menu {
  display: block;
  height: 40px;
  background: #eee;

  li {
    display: inline;
  }

  a {
    display: inline-block;
    height: 40px;
    background: transparent;
    color: #999;
    line-height: 40px;
    font-size: 11px;
    text-transform: uppercase;
    text-decoration: none;
    padding: 0px 10px 0px 10px;

    &.active {
      background: #1D83CE;
      color: #fff;
    }
  }
}

// Add/edit a project
#project {

  // Icons
  .icon {
    display: block;
    margin: 0 auto;
    background: #FD6C6E;
    width: 45px;
    height: 45px;
    border-radius: 45px;
    font-family: "ionicons";
    text-align: center;
    line-height: 45px;
    color: #fff;

    &.db {
      margin-top: 20px;

      &:after {
        content: "\f127";
        font-size: 20px;
      }
    }

    &.general {
      &:after {
        content: "\f27b";
        font-size: 20px;
      }
    }
  }

  // Title
  h1 {
    font-size: 16px;
    color: #888;
    text-align: center;
    margin: 10px 0px 0px 0px;
  }

  p {
    font-size: 14px;
    color: #aaa;
    text-align: center;
    margin: 0px 0px 15px 0px;
  }

  // Form padding
  form#add-site {
    padding: 20px;
  }

  // Form labels
  label {
    float: left;
    color: #1D83CE;
    border-radius: 5px;
    font-size: 14px;
    text-transform: uppercase;
    padding: 3px 10px 0px 0px;
  }

  span.fill {
    display: block;
    overflow: hidden;
  }

  // Input wrapper
  .input {
    width: auto;
    display: block;
    outline: 0px;
    border: none;
    padding: 15px 0px 5px 0px;
    background: #fff;
    font-size: 14px;
    color: #999;
    border-bottom: 1px solid #ddd;

    &.active {
      color: #444;
      border-bottom: 1px solid #1D83CE;
    }

    &.two {
      width: 49%;
      display: inline-block;
    }
  }

  // Input styling
  input[type="text"],
  input[type="password"] {
    background: #fff;
    border: 0px;
    outline: 0px;
    font-size: 12px;
    padding: 5px 5px 5px 5px;
    width: 100%;
  }

  input[type="file"] {
    display: none;
  }

  input[type="submit"] {
    padding: 15px 25px 15px 25px;
    display: inline-block;
    color: #fff;
    border: 0px;
    text-align: left;
    font-size: 11px;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
    margin: 10px 10px 10px 0px;

    &.add {
      background: #609E26;
    }
  }

  // Delete button
  .delete-project {
    padding: 7px 15px 7px 15px;
    display: inline-block;
    background: #DDD;
    color: #888;
    border: 0px;
    text-align: left;
    font-size: 11px;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
    margin: 10px 10px 10px 0px;
  }

  // Form section title
  h3 {
    font-size: 16px;
    text-align: center;
  }
}

// Drag and drop styling
#dragdrop-project {
  background: #eee;
  width: auto;
  height: 120px;
  border-top: 2px solid #ddd;
  border-bottom: 2px solid #ddd;

  .lines {
    height: 80px;
    border: 3px dashed #ddd;
    margin: 15px;
    position: relative;
    text-align: center;
    font-size: 24px;
    color: #ddd;
    line-height: 80px;

    &:after {
      display: block;
      content: "+";
      position: absolute;
      bottom: -15px;
      right: -15px;
      border-radius: 30px;
      width: 30px;
      height: 30px;
      text-align: center;
      color: #888;
      font-weight: bold;
      background: #fff;
      box-shadow: 0px 1px 1px #aaa;
      line-height: 28px;
      font-size: 16px;
    }

    &:hover {
      cursor: pointer;

      &:after {
        background: #609E26;
        color: #fff;
      }
    }

    &.uploaded {
      border: 3px dashed #609E26;

      &:after {
        background: #609E26;
        color: #fff;
        content: "\2713";
      }
    }
  }
}
