#plugins {
  list-style-type: none;
  padding: 10px;
  margin: 0px;

  li {
    border-bottom: 1px solid #ddd;
    position: relative;
    height: 50px;
    padding: 5px 0 5px 0;
  }

  .name {
    font-weight: bold;
    font-size: 14px;
    color: #555555;
  }

  .id {
    display: block;
    color: #007cbc;
    padding-top: 5px;
    font-weight: bold;
    font-size: 12px;
  }

  .remove {
    width: 20px;
    height: 20px;
    position: absolute;
    right: 10px;
    top: 10px;
    background: #cfcfcf;
    border-radius: 100%;
    text-align: center;
    color: #fff;
    text-shadow: 1px 2px #aaaaaa;
    font-size: 12px;
    line-height: 20px;
    font-weight: bold;
  }
}

.plugins-header {
  height: 45px;
  border-bottom: 1px solid #aaa;

  a {
    background: $green;
    color: #fff;
    display: block;
    padding: 5px 10px 5px 10px;
    margin: 10px;
    float: right;
    font-size: 12px;
    font-weight: bold;
    text-decoration: none;
    border-radius: 5px;
    text-shadow: 1px 1px #589147;
    -webkit-font-smoothing: antialiased;
  }
}
