a.add-plugin {
  display: inline-block;
  width: auto;
  padding: 10px 20px 10px 20px;
  background: #eee;
  color: #888;
  font-size: 12px;
  text-decoration: none;
  transition: background .2s ease-in-out;
  border-radius: 50px;
  margin-left: 5px;

  &:hover {
    background: #ddd;
  }
}

a.remove {
  width: 16px;
  height: 16px;
  background: #ce3636;
  padding: 3px;
  border-radius: 16px;
  float: right;
  transition: all .1s ease-in-out;
  color: #fff;
  text-decoration: none;
  text-align: center;

  &:hover {
    background: #a42e2e;
  }
}

#plugins {
  padding: 0px;
  margin: 0px;

  li {
    background: #fff;
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    padding: 10px;
    border-bottom: 1px solid #ddd;
    color: #555;
    font-size: 14px;
  }
}

#project-plugins {
  background: #fff;

  li {
    padding: 10px;
    border-bottom: 1px solid #ddd;
  }

  input[type="checkbox"] {
    float: right;
  }
}
