a.add-project {
  display: block;
  width: 100%;
  padding: 20px;
  background: #62AE47;
  color: #fff;
  font-size: 12px;
  text-decoration: none;
  position: fixed;
  bottom: 0px;
}

#projects {
  padding: 0px;
  margin: 0px;

  li {
    background: #fff;
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    padding: 10px;
    border-bottom: 1px solid #ddd;
  }

  .name {
    display: block;
    margin-bottom: 5px;
  }

  .path {
    font-style: italic;
    color: #aaa;
  }

  a.edit {
    color: #356D7E;
    font-size: 12px;
    border-radius: 5px;
    border: 2px solid #356D7E;
    padding: 5px;
    text-decoration: none;
    text-transform: uppercase;
    float: right;
    margin-top: -15px;
    transition: all .1s ease-in-out;

    &:hover {
      box-shadow: 0px 1px 2px #ccc;
    }
  }
}

.title-name {
  color: #356D7E;
  font-style: italic;
}

#project {

  label {
    display: inline-block;
    padding: 5px;
    text-transform: uppercase;
    background: #eee;
    color: #888;
    border-radius: 5px;
    font-size: 12px;
    margin-right: 5px;
  }

  .input {
    width: 100%;
    display: block;
    outline: 0px;
    border: none;
    border-bottom: 1px solid #ddd;
    padding: 10px;
    background: #fff;
    font-size: 14px;
  }

  input[type="text"] {
    background: #fff;
    border: 0px;
    outline: 0px;
    font-size: 12px;
  }

  input[type="submit"] {
    padding: 10px;
    display: inline-block;
    background: #ACCE44;
    color: #fff;
    border: 0px;
    text-align: left;
    font-size: 14px;
    cursor: pointer;
    border-radius: 5px;
    margin: 10px;
  }

  .delete-project {
    padding: 10px;
    display: inline-block;
    background: #ddd;
    color: #888;
    border: 0px;
    text-align: left;
    font-size: 14px;
    cursor: pointer;
    border-radius: 5px;
    margin: 10px 10px 10px 0px;
  }
}