.footer a.settings {
  display: block;
  background: #eee;
  width: 30px;
  height: 30px;
  padding: 2px;
  border-radius: 30px;
  font-family: "ionicons";
  float: right;
  font-size: 18px;
  color: #777;
  text-align: center;
  line-height: 30px;
  text-decoration: none;

  &:after {
    content: "\f4a6";
  }
}

.main-content.settings {

  label {
    background: #fff;
    padding: 5px;
    color: #1A5A7D;
    text-transform: uppercase;
  }

  span {
    float: right;
  }

  input {
    width: 200px;
    float: right;
    border: 0px;
    border-bottom: 1px solid #fff;
    background: none;
    outline: 0px;
    color: #fff;
    padding: 5px;
    font-size: 14px;
  }

  h2 {
    width: 150px;
    color: #fff;
    text-align: center;
    background: rgba(0,0,0,0.2);
    border-radius: 25px;
    margin: 0 auto;
  }

  p {
    padding: 5px;
    margin: 10px 0px 10px 0px;
  }
}
