@import "fonts";

html,
body {
  padding: 0px;
  margin: 0px;
  font-family: 'Source Sans Pro', sans-serif;
  background: rgba(0,0,0,0);
  padding-bottom: 50px;
  height: 100%;
  min-height: 100%;
}

ul {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}

h1,
h2 {
  display: block;
  background: #fff;
  padding: 10px 0px 10px 0px;
  margin: 0px;
  font-size: 16px;
}

.main-content {
  transition: transform .2s ease-in-out;
  position: absolute;
  overflow: hidden;
  z-index: 2;
  background: #fff;
  top: 30px;
  left: 0px;
  right: 0px;
  bottom: 0px;

  &.minimize {
    transform: scale(0.8);
    position: absolute;
    bottom: -2000px;
  }

  &.settings {
    background: -webkit-linear-gradient(left top, #1A5A7D, #341A4A);
    background-size: cover;
    background-repeat: repeat;
    position: absolute;
    z-index: 1;
    bottom: 0px;
    left: 0px;
    right: 0px;
    top: 30px;
  }
}

.frame {
  position: absolute;
  background: #fff;
  width: auto;
  height: auto;
  border-radius: 5px;
  box-shadow: 0px 0px 15px #555;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  padding: 30px 15px 15px 15px;

  overflow: hidden;
}

.frame-top {
  position: absolute;
  left: 0px;
  right: 0px;
  top: 0px;
  width: 100%;
  height: 30px;
  -webkit-user-select: none;
  -webkit-app-region: drag;
  background: #eee;
  border-radius: 5px 5px 0px 0px;

  .actions {
    position: absolute;
    top: 5px;
    left: 7px;

    button {
      display: inline-block;
      width: 12px;
      height: 12px;
      border-radius: 12px;
      -webkit-appearance: none;
      border: 0px;
      outline: 0px;
      padding: 0px;
      margin: 0px;
    }

    .close {
      background: #ff5f57;
      border: 1px solid #e2463f;
      margin-right: 3px;
    }

    .minimize {
      background: #ffbd2e;
      border: 1px solid #e1a116;
    }
  }

  h1 {
    font-size: 11px;
    color: #999;
    padding: 8px 0px 0px 0px;
    margin: 0px;
    width: 100%;
    text-align: center;
    background: none;
  }
}

// Menu
.main-nav {
  width: 100%;
  height: 61px;
  background: #fff;

  .edit-add & {
    display: none;
  }

  ul {
    display: block;
    list-style-type: none;
    padding: 0px;
    margin: 0px;
  }

  li {
    width: 50%;
    float: left;
  }

  a {
    display: block;
    color: #888;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 60px;
    transition: background .1s ease-in-out;
    border-bottom: 1px solid #eee;

    &:hover,
    &.active {
      border-bottom: 1px solid #1D83CE;
      color: #1D83CE;
    }

    span {
      padding: 1px 8px 1px 8px;
      background: #ddd;
      color: #888;
      border-radius: 10px;
      margin-left: 5px;
    }
  }
}

.footer {
  display: block;
  width: auto;
  height: 40px;
  position: fixed;
  left: 20px;
  right: 20px;
  bottom: 20px;

  .edit-add & {
    display: none;
  }
}

@import "plugins/plugins", "plugins/plugin-form", "projects/projects", "projects/project-form";
@import "tutorial/tutorial";
@import "messages";
