@import "../assets/stratagem/stratagem";
@import "animations";
@import "fonts";

html,
body {
  padding: 0px;
  margin: 0px;
  font-family: 'Source Sans Pro', sans-serif;
  background: rgba(0,0,0,0);
  height: 100%;
  min-height: 100%;
}

ul {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}

h1,
h2 {
  display: block;
  background: #fff;
  padding: 10px 0px 10px 0px;
  margin: 0px;
  font-size: 16px;
}

.main-content {
  -webkit-transition: transform .1s ease-in, bottom .1s ease-in;
  position: absolute;
  overflow-y: scroll;
  overflow-x: hidden;
  z-index: 2;
  background: rgba(255,255,255,1);
  border-radius: 0px 0px 5px 0px;
  top: 30px;
  left: 60px;
  right: 0px;
  bottom: 0px;
  -webkit-backface-visibility: hidden;

  &::-webkit-scrollbar {
    width: 10px;
  }

  &::-webkit-scrollbar-track  {
    background: transparent;
    border-radius: 6px;
  }

  &::-webkit-scrollbar-track-piece  {
    background: transparent;
    border-radius: 6px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: rgba(0,0,0,0.2);
    border-radius: 6px;
  }

  &.minimize {
    -webkit-transform: scale(0.8);
    position: absolute;
    bottom: -2000px;
  }

  &.settings {
    background: -webkit-linear-gradient(left top, #1A5A7D, #341A4A);
    background-size: cover;
    background-repeat: repeat;
    position: absolute;
    z-index: 1;
    bottom: 0px;
    left: 60px;
    right: 0px;
    top: 30px;
    color: #fff;
    padding: 20px;
  }
}

.frame {
  position: absolute;
  background: transparent;
  width: auto;
  height: auto;
  border-radius: 5px;
  box-shadow: 0px 0px 15px #222;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  padding: 30px 15px 15px 80px;

  overflow: hidden;
}

.frame-top {
  position: absolute;
  left: 0px;
  right: 0px;
  top: 0px;
  width: 100%;
  height: 30px;
  -webkit-user-select: none;
  -webkit-app-region: drag;
  background: #eee;
  //background: #1D2028;
  border-radius: 5px 5px 0px 0px;

  h1 {
    font-size: 11px;
    color: #999;
    padding: 8px 0px 0px 0px;
    margin: 0px;
    width: 100%;
    text-align: center;
    background: none;
  }
}

.actions {
  position: absolute;
  top: 5px;
  left: 7px;

  button {
    display: inline-block;
    width: 12px;
    height: 12px;
    border-radius: 12px;
    -webkit-appearance: none;
    border: 0px;
    outline: 0px;
    padding: 0px;
    margin: 0px;
  }

  .close {
    background: #ff5f57;
    border: 1px solid #e2463f;
    margin-right: 3px;
  }

  .minimize {
    background: #ffbd2e;
    border: 1px solid #e1a116;
  }
}

aside.aside {
  //background: rgba(0,0,0,0.87);
  //background: rgba(34,34,34,0.95);
  //background: #333745;
  //background: #1A2225;
  //background: #232B2D;
  //background: #171D1F;
  //background: #374249;
  //background: #232B2D;
  //background: #15150F;
  background: #222d37;
  //background: #333745;
  //background: -webkit-linear-gradient(left top, #1A5A7D, #341A4A);
  //background: -webkit-linear-gradient(left top, rgba(26, 90, 125, 0.9), rgba(52, 26, 74, 0.8));
  //background: -webkit-linear-gradient(left top, rgba(0, 0, 0, 0.95), rgba(52, 26, 74, 0.95));
  position: absolute;
  top: 30px;
  bottom: 0px;
  left: 0px;
  z-index: 200;
  border-radius: 0px 0px 0px 5px;
  overflow: hidden;
}

// Menu
.main-nav {
  width: 60px;

  ul {
    display: block;
    list-style-type: none;
    padding: 0px;
    margin: 0px;
  }

  li {
    display: block;
    position: relative;
  }

  a {
    display: block;
    color: rgba(255,255,255,0.2);
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 32px;
    transition: background .1s ease-in-out;
    font-family: "ionicons";
    padding: 18px 0px 15px 0px;

    &:hover,
    &.active {
      color: #fff;
      background: rgba(255,255,255,0.05);
    }

    span {
      display: none;
      width: 15px;
      height: 15px;
      background: #000;
      color: #fff;
      border-radius: 100%;
      font-size: 10px;
      position: absolute;
      top: 10px;
      right: 5px;
      line-height: 15px;
      border: 2px solid #3D414E;
    }
  }
}

.footer {
  display: block;
  width: auto;
  height: 40px;
  position: absolute;
  left: 10px;
  right: 0px;
  bottom: 10px;

  .edit-add & {
    display: none;
  }
}

@import "plugins/plugins", "plugins/plugin-form", "projects/projects", "projects/project-form";
@import "tutorial/tutorial";
@import "messages";
@import "settings";
@import "../assets/stratagem/stratagem-two";
