<section ng-show="pluginForm">
  <div class="add-plugin-wrapper">
    <div class="close" ng-click="hidePluginForm()"></div>
      <form ng-controller="PluginFormCtrl" id="add-plugin" name="addPlugin" ng-submit="add()">
        <drag-drop-plugin>
          <div class="status">
            <span class="circle circle-1"></span>
            <span class="circle circle-2"></span>
            <span class="circle circle-3"></span>
          </div>
          <p>Drag and drop the plugin folder</p>
          <p>or <a href="#" ng-click="browse()">browse</a></p>
        </drag-drop-plugin>
        <input name="path" id="plugin-path" class="path" type="file" onchange="angular.element(this).scope().add()" nwdirectory />
      </form>
    </div>
  </div>
</section>
