<div id="project">
  <h1>Add project</h1>
  <p>Start off by dragging the root folder of you project!</p>
  <div id="dragdrop-project">
    <div class="lines">
      Drag 'n Drop
    </div>
  </div>
  <form id="add-site">
    <input name="path" type="file" nwdirectory />
    <h3 class="general">General settings</h3>
    <div class="input">
      <label for="name">Name</label>
      <span class="fill"><input name="name" type="text" /></span>
    </div>
    <div class="input">
      <label for="remote">Remote path</label>
      <span class="fill"><input name="remote" type="text" /></span>
    </div>

    <h3 class="db">Database settings</h3>
    <div class="input">
      <label for="db-name">Database</label>
      <span class="fill"><input name="db-name" type="text" /></span>
    </div>
    <div class="input two">
      <label for="db-host">Host</label>
      <span class="fill"><input name="db-host" class="two" type="text" /></span>
    </div>
    <div class="input two">
      <label for="db-port">Port</label>
      <span class="fill"><input name="db-port" class="two" type="text" /></span>
    </div>
    <div class="input">
      <label for="db-username">Username</label>
      <span class="fill"><input name="db-username" type="text" /></span>
    </div>
    <div class="input">
      <label for="db-password">Password</label>
      <span class="fill"><input name="db-password" type="password" /></span>
    </div>

    <input name="add" class="add" type="submit" value="Add">
    <button class="cancel">Cancel</button>
  </form>
</div>

<!-- Include controller -->
<script src="controllers/add_project.js"></script>
