<form id="add-site">
    <label for="name">Namn</label>
    <input name="name" type="text" />
    <input name="path" type="file" nwdirectory />

    <input name="add" type="submit">
  </form>

<script>
var gui = require('nw.gui');
      var Datastore = require('nedb');
      var db = new Datastore({
        filename : gui.App.dataPath + '/sites.db',
        autoload: true
      });

      db.find({}, function(error, sites) {
        for (var key in sites) {
          $('#projects').append('<li><span class="name">' + sites[key].name + '</span><span class="path">' + sites[key].path + '</span></li>');
        }
      });

      $('#add-site').submit(function(event) {
        event.preventDefault();

        db.insert({
          name: $(this).find('input[name="name"]').val(),
          path: $(this).find('input[name="path"]').val(),
        });
      });
</script>