<h1>Add project</h1>
<div id="project">
  <form id="add-site">
    <div class="input">
      <label for="name">Namn</label>
      <input name="name" type="text" />
    </div>
    <div class="input">
      <label>Path</label>
      <input name="path" type="file" nwdirectory />
    </div>

    <input name="add" type="submit">
  </form>
</div>

<script>
  var projects = require('./lib/projects.js');

  $('#add-site').submit(function(event) {
    event.preventDefault();

    var data = {
      name: $(this).find('input[name="name"]').val(),
      path: $(this).find('input[name="path"]').val(),
      plugins: [],
      current: false,
    };

    projects.add(data, function() {
      projects.rebuildMenu();
      $('#app').load('views/manage_projects.html');
    });
  });
</script>