<aside class="aside" ng-controller="AsideNavCtrl">
  <nav class="main-nav">
    <ul>
      <li>
        <a href="projects" class="projects active">
          &#xf3ed;<span class="projects-calc">{{projectsNum}}</span>
          <span class="help">Projects</span>
        </a>
      </li>
      <li>
        <a href="plugins" class="plugins">
          &#xf415;<span class="plugins-calc">{{pluginsNum}}</span>
          <span class="help">Plugins</span>
        </a>
      </li>
    </ul>
  </nav>
</aside>
