<h1>Project settings</h1>

<div id="project">
  <form id="change-project">
    <div class="input">
      <label>Name:</label>
      <input type="text" name="name" />
    </div>
    <div class="input">
      <label>Path:</label>
      <span class="path"></span>
      <input type="file" name="path" nwdirectory />
    </div>

    <input type="submit" value="Save" />
    <input type="button" class="delete-project" value="Delete" />
  </form>
</div>

<h2>Plugins</h2>
<div id="project-plugins">
  <ul>

  </ul>
</div>

<script>
  var projects = require('./projects.js');
  var plugins = require('./plugins.js');

  var projectPath = null;
  var projectPlugins = null;

  // Get specific project
  projects.get(projectEditId, function(project) {
    // Load data
    $('#change-project').find('input[name="name"]').val(project[0].name);
    $('.path').text(project[0].path);
    projectPath = project[0].path;
    projectPlugins = project[0].plugins;

    // Get plugins
    var checked = null;
    plugins.getPlugins(function(plugins) {

      // Append plugins
      for (var key in plugins) {
        // Check if plugin in enabled on current project
        if ($.inArray(plugins[key]._id, projectPlugins) > -1) {
          checked = 'checked';
        }

        $('#project-plugins ul').append('<li>' + plugins[key].name + '<span class="checkbox"><input type="checkbox" data-id="' + plugins[key]._id + '"' + checked + ' /></span></li>');
      }

      // Edit db on change
      $('#project-plugins input[type="checkbox"]').on('change', function() {
        var add = $(this).prop('checked');
        var id = $(this).attr('data-id');
        var update = { $pull: { plugins: id } };

        if (add) {
          update = { $push: { plugins: id } };
        }

        projects.updatePlugins(projectEditId, update);

    });
  });

  });

  $('#change-project').submit(function(event) {
    event.preventDefault();

    if ($('#change-project').find('input[name="path"]').val()) {
      projectPath = $('#change-project').find('input[name="path"]').val();
    }

    var query = {
      name: $(this).find('input[name="name"]').val(),
      path: projectPath,
      plugins: ['eHkK0rnJdZSfK8k8'],
    };

    projects.update(projectEditId, query, function() {
      $('#app').load('views/manage_projects.html');
    });
  });

  $('.delete-project').click(function(event) {
    event.preventDefault();

    projects.remove(projectEditId, function() {
      $('#app').load('views/manage_projects.html');
    });
  });
</script>