<a href="#" class="add-project">Add project</a>
<ul id="projects">
</ul>

  <script>
    $(document).ready(function() {
      var projects = require('./projects.js');
      projects.getProjects(function(projects) {
        for (var key in projects) {
          $('#projects').append('<li><span class="name"><a href="#" data-id="' + projects[key]._id + '">' + projects[key].name + '</a></span><span class="path">' + projects[key].path + '</span></li>');
        }

        // Edit project
        $('#projects .name a').click(function() {
          projectEditId = $(this).attr('data-id');
          $('#app').load('views/manage_project.html');
        });
      });

      // Add new project
      $('a.add-project').click(function() {
        $('#app').load('views/add_project.html');
      });
    });
  </script>
