<h1>Edit <span class="title-name"></span></h1>

<ul class="project-menu">
  <li><a href="#" class="active">Settings</a></li>
  <li><a href="#">Plugins</a></li>
</ul>

<div id="project" class="edit-project show">
  <div id="dragdrop-project">
    <div class="lines">
      Drag 'n Drop
    </div>
  </div>

  <form id="change-project">
    <input name="path" type="file" nwdirectory />
    <h3 class="general">General settings</h3>
    <div class="input">
      <label for="name">Name</label>
      <span class="fill"><input name="name" type="text" /></span>
    </div>
    <div class="input">
      <label for="remote">Remote path</label>
      <span class="fill"><input name="remote" type="text" /></span>
    </div>

    <h3 class="db">Database settings</h3>
    <div class="input">
      <label for="db-name">Database</label>
      <span class="fill"><input name="db-name" type="text" /></span>
    </div>
    <div class="input two">
      <label for="db-host">Host</label>
      <span class="fill"><input name="db-host" class="two" type="text" /></span>
    </div>
    <div class="input two">
      <label for="db-port">Port</label>
      <span class="fill"><input name="db-port" class="two" type="text" /></span>
    </div>
    <div class="input">
      <label for="db-username">Username</label>
      <span class="fill"><input name="db-username" type="text" /></span>
    </div>
    <div class="input">
      <label for="db-password">Password</label>
      <span class="fill"><input name="db-password" type="password" /></span>
    </div>

    <input type="submit" class="add" value="Save" />
    <input type="button" class="delete" value="Delete" />
  </form>
</div>

<div id="project-plugins">
  <ul></ul>
</div>

<!-- Include controllers -->
<script src="controllers/manage_project.js"></script>
