<section id="project">
  <form id="change-project" ng-controller="ProjectFormCtrl" ng-submit="save()">

  <h1>Edit {{project.name}}</h1>

  <ul class="project-menu">
    <li><a href="#" ng-click="setTab('settings')" ng-class="{active: tabs.settings}">Settings</a></li>
    <li><a href="#" ng-click="setTab('plugins')" ng-class="{active: tabs.plugins}">Plugins</a></li>
  </ul>

  <div id="project" class="edit-project" ng-show="tabs.settings">

      <drag-drop-project ng-click="browse()">
        <div class="lines">
          {{project.path}}
          <span ng-if="!project.path">
            Drag 'n Drop
          </span>
        </div>
      </drag-drop-project>

      <input name="path" id="path" type="file" onchange="angular.element(this).scope().updatePath(angular.element(this))" nwdirectory />
      <h3 class="general">General settings</h3>
      <div class="input">
        <label for="name">Name</label>
        <span class="fill"><input name="name" type="text" ng-model="project.name" /></span>
      </div>
      <div class="input">
        <label for="remote">Remote path</label>
        <span class="fill"><input name="remote" type="text" ng-model="project.remote" /></span>
      </div>

      <h3 class="db">Database settings</h3>
      <div class="input">
        <label for="db-name">Database</label>
        <span class="fill"><input name="db-name" type="text" ng-model="project.db.name" /></span>
      </div>
      <div class="input two">
        <label for="db-host">Host</label>
        <span class="fill"><input name="db-host" class="two" type="text" ng-model="project.db.host" /></span>
      </div>
      <div class="input two">
        <label for="db-port">Port</label>
        <span class="fill"><input name="db-port" class="two" type="text" ng-model="project.db.port" /></span>
      </div>
      <div class="input">
        <label for="db-username">Username</label>
        <span class="fill"><input name="db-username" type="text" ng-model="project.db.username" /></span>
      </div>
      <div class="input">
        <label for="db-password">Password</label>
        <span class="fill"><input name="db-password" type="password" ng-model="project.db.password" /></span>
      </div>

      <input type="submit" class="add" value="Save" />
      <input type="button" class="delete" value="Remove" ng-click="remove()" />
  </div>

  <div id="project-plugins" ng-show="tabs.plugins">
    <ul ng-repeat="plugin in plugins">
      <li>{{plugin.name}}<input type="checkbox" ng-model="plugin.active" ng-change="savePlugins(plugin)" /></li>
    </ul>
  </div>
  </form>
</section>
