<a href="#" class="add-plugin">Add plugin</a>

<ul id="plugins">

</ul>

<script>
  var plugins = require('./plugins.js');

  plugins.getPlugins(function(_plugins) {
    for (var key in _plugins) {
      $('#plugins').append('<li>' + _plugins[key].name + '<a class="remove" href="#" data-id="' + _plugins[key]._id + '">Remove</a></li>');
    }

    // Remove plugin
    $('a.remove').click(function(event) {
      event.preventDefault();
      var id = $(this).attr('data-id');

      plugins.remove(id, function() {
        plugins.rebuildMenu();
        $('#app').load('views/manage_plugins.html');
      });
    });
  });

  // Add-plugin
  $('a.add-plugin').click(function() {
    $('#app').load('views/add_plugin.html');
  });
</script>
