.aside {
  width: $aside-width;
  position: absolute;
  bottom: 0px;
  top: 0px;
  background: $background-dark;
  border-radius: 0 0 0 5px;

  nav {

  }

  ul {
  	list-style-type: none;
  	padding: 0px;
  	margin: 0px;
  }

  li a {
  	display: block;
  	height: 50px;
  	border-bottom: 1px solid #333a46;
  	padding: 20px 0 20px 0;
  }

  .plugins {
  	background: url('../graphics/plugins.svg') center center no-repeat;

    &:hover {
      background: url('../graphics/plugins.svg') center center no-repeat rgba(255,255,255,0.02);
    }
  }

  .projects {
  	background: url('../graphics/projects.svg') center center no-repeat;

    &:hover {
      background: url('../graphics/projects.svg') center center no-repeat rgba(255,255,255,0.02);
    }
  }

  .plugins-calc,
  .projects-calc {
  	display: none;
  }
}